---
- name: Install EPEL repository
  dnf:
    name: epel-release
    state: present

- name: Install development tools
  dnf:
    name: "@Development Tools"
    state: present

- name: Install kernel-devel
  dnf:
    name: kernel-devel
    state: present

- name: Install DKMS
  dnf:
    name: dkms
    state: present

- name: Add NVIDIA CUDA repository
  get_url:
    url: "http://developer.download.nvidia.com/compute/cuda/repos/rhel9/{{ ansible_architecture }}/cuda-rhel9.repo"
    dest: /etc/yum.repos.d/cuda-rhel9.repo

- name: Install required packages for NVIDIA driver
  dnf:
    name:
      - "kernel-headers-{{ ansible_kernel }}"
      - "kernel-devel-{{ ansible_kernel }}"
      - tar
      - bzip2
      - make
      - automake
      - gcc
      - gcc-c++
      - pciutils
      - elfutils-libelf-devel
      - libglvnd-opengl
      - libglvnd-glx
      - libglvnd-devel
      - acpid
      - pkgconf
      - dkms
    state: present

- name: Install latest NVIDIA driver via dnf module
  command: dnf module install nvidia-driver:latest-dkms -y
  args:
    creates: /usr/bin/nvidia-smi

- name: Disable Nouveau driver
  command: grubby --args="nouveau.modeset=0 rd.driver.blacklist=nouveau" --update-kernel=ALL

- name: Run mokutil if secure boot is enabled
  command: mokutil --import /var/lib/dkms/mok.pub
  when: secure_boot_enabled | default(false)

- name: Add NVIDIA Container Toolkit production repository
  ansible.builtin.shell: |
    curl -s -L https://nvidia.github.io/libnvidia-container/stable/rpm/nvidia-container-toolkit.repo | tee /etc/yum.repos.d/nvidia-container-toolkit.repo
  args:
    creates: /etc/yum.repos.d/nvidia-container-toolkit.repo

- name: Install NVIDIA Container Toolkit
  dnf:
    name: nvidia-container-toolkit
    state: present
    
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Configure NVIDIA Docker runtime using nvidia-ctk
  command: nvidia-ctk runtime configure --runtime=docker
  when: ansible_facts.services['docker.service'] is defined

- name: Configure Docker to use NVIDIA runtime
  lineinfile:
    path: /etc/docker/daemon.json
    create: yes
    line: '"default-runtime": "nvidia",'
    insertafter: '"runtimes": {'
  when: ansible_facts.services['docker.service'] is defined

- name: Restart docker (if present)
  service:
    name: docker
    state: restarted
  when: ansible_facts.services['docker.service'] is defined

- name: Reboot system
  reboot:
    msg: "Reboot required after NVIDIA driver installation"
    pre_reboot_delay: 10
    reboot_timeout: 600
