apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dashy
  namespace: dashy
spec:
  interval: 30m
  chart:
    spec:
      chart: dashy
      version: '1.x.x'  # Use latest 1.x version
      sourceRef:
        kind: HelmRepository
        name: selfhosted
        namespace: dashy
  values:
    image:
      repository: lissy93/dashy
      tag: latest
      pullPolicy: Always
    
    service:
      type: NodePort
      port: 80
      nodePort: 30080
    
    ingress:
      enabled: false
    
    persistence:
      enabled: true
      storageClass: smb
      size: 1Gi
    
    config:
      appConfig:
        theme: nord
        statusCheck: true
        backgroundImg: https://i.ibb.co/yhbt6CY/card-back-2.png
      
      pageInfo:
        title: Homelab Dashboard
        description: Welcome to your homelab
        logo: https://i.ibb.co/qWWpD0v/astro-dab-128.png
      
      sections:
        - name: Infrastructure
          icon: fas fa-server
          items:
            - title: Vault
              description: Secrets Management
              icon: hl-vault
              url: http://192.168.86.149:31584
              target: newtab
            - title: Proxmox
              description: Virtualization Host
              icon: hl-proxmox
              url: https://192.168.86.206:8006
              target: newtab
        
        - name: Applications
          icon: fas fa-rocket
          items:
            - title: Foundry VTT
              description: Virtual Tabletop
              icon: hl-foundryvtt
              url: http://192.168.86.149:30000
              target: newtab
              statusCheck: true