apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-smb
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: csi-driver-smb
      version: 'v1.16.x'
      sourceRef:
        kind: HelmRepository
        name: csi-driver-smb
        namespace: kube-system
  values:
    controller:
      replicas: 1