apiVersion: v1
kind: Service
metadata:
  name: foundry-vtt
  namespace: foundry-vtt
spec:
  type: NodePort
  ports:
  - port: 30000
    targetPort: 30000
    nodePort: 30000
    protocol: TCP
  selector:
    app: foundry-vtt