apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 30m
  chart:
    spec:
      chart: vault
      version: '0.31.x'
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault
      interval: 12h
  values:
    server:
      dev:
        enabled: false
      standalone:
        enabled: true
        config: |
          ui = true
          
          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }
          
          storage "file" {
            path = "/vault/data"
          }
      dataStorage:
        enabled: false
        #size: 10Gi
      volumes:
        - name: data
          emptydir: {}
      volumeMounts:
        - name: data
          mountPath: /vault/data
    ui:
      enabled: true
      serviceType: "LoadBalancer"