apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 30m
  chart:
    spec:
      chart: vault
      version: '0.31.x'
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: vault
      interval: 12h
  values:
    server:
      dev:
        enabled: true
        devRootToken: "root"
      standalone:
        enabled: true
      dataStorage:
        enabled: true
        size: 10Gi
    ui:
      enabled: true
      serviceType: "LoadBalancer"