apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-system
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 30s
  path: ./k8s/infrastructure/metallb/base
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 30s
  path: ./k8s/infrastructure/metallb/overlays/highmountain
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
