apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: vault
  namespace: flux-system
spec:
  interval: 10m
  path: ../../../../infrastructure/vault/overlays/highmountain
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
