---
- name: Cloning homelab repo
  import_role:
    name: git_homelab_repo

- name: Deploy .env file from Vaulted secrets
  ansible.builtin.template:
    src: env.j2
    dest: /opt/homelab/docker/immich/.env
    mode: '0600'
    
- name: Deploy Immich with Docker Compose
  community.docker.docker_compose_v2:
    project_src: /opt/homelab/docker/immich
    pull: true
    recreate: true
    state: present